[core]
	editor = vi

[alias]
	graph = log --graph
	clb = !git for-each-ref --format '%(if:equals=[gone])%(upstream:track)%(then)%(refname:short)%(end)' | grep -v "$(git branch --show-current)" | xargs -I '{}' git branch -d '{}'
	cb = !git pull -p && git clb

[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
