[Desktop Entry]
Type=Application
Exec=/home/takao/bin/xkbcomp.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja]=myxkbcomp
Name=/home/takao/bin/myxkbcomp.sh
Comment[ja]=
Comment=
