[Desktop Entry]
Type=Application
Exec=/home/takao/.xkb/xkbcomp.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja]=myxkbcomp
Name=myxkbcomp
Comment[ja]=
Comment=
