[Desktop Entry]
Type=Application
Exec=/usr/local/bin/xkbcomp.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja]=myxkbcomp
Name=/usr/local/bin/xkbcomp.sh
Comment[ja]=
Comment=
